@import '_virable';
@media (min-width:963px) and (max-width:1201px) {
    .main_footer_one{
        .main_footer_bottom{
           

            .container{
                .main_footer_nav{
                    .main_footer_back_img{
                        margin-left: -10px;
                        width: 370px;
                        height: 490px;
                    }
                    .main_footer_menu{
                        width: 600px;
                        h1{
                            font-size: 30px;
                        }
                        p{
                            font-size: 16px;
                        }
                        
                    }
                }
            }
        }
    }
}
@media (min-width:690px) and (max-width:962px) {
    .main_footer_one{
        height : 486px !important;
        .main_footer_bottom{
            height: 370px !important;
            .container{
                .main_footer_nav{
                    @include d-flex(flex,flex-start,center);
                    .main_footer_back_img{
                        width: 290px;
                        height: 300px;
                        margin-top: -250px;
                    }
                    .main_footer_menu{
                        padding : 0 25px;
                        width: 400px;
                        margin-top: 50px;
                        margin: 0 auto;
                        h1{
                            font-size: 24px;
                            line-height: 35px !important;
                            margin-top: 18px;
                        }
                        p{
                            font-size: 12px;
                            line-height: 19px;
                        }
                        img{
                            width: 100px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:651px) and (max-width:690px) {
    .main_footer_one{
        height : 406px !important;
        .main_footer_bottom{
            height: 260px !important;
            .container{
                .main_footer_nav{
                    @include d-flex(flex,flex-start,center);
                    .main_footer_back_img{
                        width: 250px;
                        height: 270px;
                        margin-top: -250px;
                    }
                    .main_footer_menu{
                        padding : 0 25px;
                        width: 400px;
                        margin-top: 50px;
                        margin: 0 auto;
                        h1{
                            font-size: 20px;
                            line-height: 30px !important;
                            margin-top: 10px;
                        }
                        p{
                            font-size: 10px;
                            line-height: 15px;
                        }
                        img{
                            width: 85px;
                            height: 35px;
                            transform : rotate(0deg);
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:650px){
    .main_footer_one{
        // min-height : 456px !important;
        .main_footer_bottom{
            .container{
                .main_footer_nav{
                    @include d-flex(block,flex-start,center);
                    .main_footer_back_img{
                        width: 250px;
                        height: 270px;
                        margin-top: -150px;
                    }
                    .main_footer_menu{
                        padding : 0 25px;
                        width: 100%;
                        text-align: start;
                        padding : 0 35px;
                        padding-top: 50px;
                       
                        margin: 0 auto;
                        h1{
                            font-size: 20px;
                            line-height: 30px !important;
                            margin-top: 10px;
                        }
                        p{
                            font-size: 10px;
                            line-height: 15px;
                        }
                        img{
                            width: 85px;
                            height: 35px;
                            transform : rotate(0deg);
                        }
                    }
                }
            }
        }
    }
}
