$background_color : #E1AA00;
$dark : #0D0D0D;
$navbar-background : #FAFAFA;
$grey : rgba(0, 0, 0, 0.05);
$yellow : #FFC000;
$transition : 0.3s linear;

$border-radius : 4px;
$padding_btn : 8px 16px;
$kulrang :  #100029;

@mixin d-flex($display,$jus-cont,$align-i) {
    display : $display;
    justify-content : $jus-cont;
    align-items: $align-i;
}