header .navbar-top {
  height: 112px;
  width: 100%;
  background-color: #0D0D0D;
  position: relative;
  top: 0;
  left: 0;
}

header .navbar-top .navbar-bottom {
  position: absolute;
  height: 72px;
  width: 100%;
  top: 40px;
  left: 0;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
          box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
}

header .navbar-top .navbar-bottom .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .bars_icon {
  display: none;
  width: 28px;
  height: 22px;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .bars_icon img {
  width: 100%;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_menu_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
  padding-top: 8px;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_menu_center li {
  list-style: none;
  margin-right: 25px;
  border-bottom: 3px solid transparent;
  padding-bottom: 8px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_menu_center li:first-child {
  border-bottom: 3px solid #000;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_menu_center li:last-child {
  margin-right: 0;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_menu_center li:hover {
  border-bottom: 3px solid #000;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_menu_center li a {
  text-decoration: none;
  color: #000;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_logo {
  display: none;
  width: 42px;
  height: 42px;
  margin-left: 20px;
}

header .navbar-top .navbar-bottom .navbar_menu .navbar_menu_left .nav_logo img {
  width: 100%;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 45px;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right .nav_menu_basket li {
  list-style: none !important;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right li {
  list-style: none;
  margin-right: 25px;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right li:last-child {
  margin-right: 0;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right li a {
  text-decoration: none;
  color: #000;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right li .btn {
  border-radius: 4px;
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-size: 16px;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right li .btn_outline {
  background-color: rgba(0, 0, 0, 0.05);
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_right li .btn_secondary {
  background-color: #FFC000;
}

header .navbar-top .navbar-bottom .navbar_menu .nav_menu_basket {
  position: absolute;
  top: 0;
  right: 30px;
}

header .navbar-top .navbar-bottom .navbar_menu .times {
  display: none;
}

header .container {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

header .container .navbar_top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .navbar_top_nav p {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

header .container .navbar_top_nav p:nth-child(2) {
  margin-left: 8px;
  opacity: 0.3;
}

header .container .navbar_top_nav p:nth-child(2):hover {
  opacity: 1;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
/*# sourceMappingURL=navbar.css.map */