@import 'virable';

header{
    .navbar-top{
        height: 112px;
        width: 100%;
        background-color: $dark;
        position: relative;
        top: 0;
        left: 0;
        .navbar-bottom{
            position: absolute;
            height: 72px;
            width: 100%;
            top: 40px;
            left:0;
            background-color:$navbar-background;
            box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);

            .navbar_menu{
                @include d-flex(flex,space-between,center);
                
                .navbar_menu_left{
                    @include d-flex(flex,space-between,center);
                    .bars_icon{
                        display: none;
                        width:28px;
                        height : 22px;
                        img{
                            width: 100%;
                        }
                    }
                    .nav_menu_center{
                        @include d-flex(flex,space-between,center);
                        margin-left: 80px;
                        padding-top: 8px;
                        li{
                            list-style: none;
                            margin-right: 25px;
                            border-bottom: 3px solid transparent;
                            padding-bottom: 8px;
                            transition : $transition; 
                            &:first-child{
                                border-bottom: 3px solid #000;
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                            &:hover{
                                border-bottom: 3px solid #000;
                            }
                            a{
                                text-decoration: none;
                                color : #000;
                            }
                        }
                    }
                    .nav_logo{
                        display: none;
                        width : 42px;
                        height : 42px;
                        margin-left: 20px;
                        img{
                            width : 100%;
                        }
                    }
                }
                .nav_menu_right{
                    @include d-flex(flex,space-between,center);
                    .nav_menu_basket{
                       li{
                        list-style: none !important;
                       }
                    }
                    li{
                        list-style: none;
                        margin-right: 25px;

                        &:last-child{
                            margin-right:0;
                        }

                    a{
                        text-decoration: none;
                        color : #000;
                    }
                    .btn{
                        border-radius: $border-radius;
                        padding : $padding_btn;
                        display : inline-block;
                        text-align: center;
                        font-style: normal;
                        font-size: 16px;
                    }
                    .btn_outline{
                        background-color: $grey;
                    }
                    .btn_secondary{
                        background-color: $yellow ;
                    }
                    }
                    position: relative;
                    right:45px;
                }
                .nav_menu_basket{
                    position : absolute;
                    top: 0;
                    right: 30px;
                }
                .times{
                    display : none;
                }
            }
        }
    }
    .container{
        width: 100%;
        padding: 0 25px;
        margin: 0 auto;
        .navbar_top_nav{
            @include d-flex(flex,flex-start,center);
            p{
                color: #fff;
                font-size: 10px;
                font-weight: bold;
                cursor: pointer;
                &:nth-child(2){
                    margin-left: 8px;
                    opacity: 0.3;
                    &:hover{
                        opacity: 1;
                        transition : 0.5s all linear;
                    }
                }
            }
        }
    }
}

