@import '_virable';

main {
    .main_one {
        width: 100%;
        height: 788px;
        background-color: $background_color;
        z-index: 0;
        .main_section{
            position: relative;
            top: 0;
            left: 0;
            max-width: 1280px;
            
            width: 100%;
            margin : 0 auto;
            height: 100%;
            @include d-flex(flex,flex-start,center);
            z-index: 1;
            .section_back_img{
                background-image: url('../img/girl-image.svg');
                height: 100%;
                width:512px;
                z-index: 888;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                right: 20px;
            }
           
            .section_black{
                min-height: 396px;
                background-color: #000;
                width: 100% !important;
                z-index: 88;
                position: absolute;
                top: 203px;
                left: 0;
               .container{
                padding : 0 55px;
                .section_text{
                    width : 588px;
                    color: #fff;
                    margin-top: 30px;
                    h1{
                        font-size: 34px;
                        font-weight: 700;
                        letter-spacing:0.25px;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 500;
                        margin : 16px 24px 0 0;
                    }
                    p:last-child {
                        color : $yellow;
                        font-weight: 600;
                        &::before{
                            content : url('../img/Polygon\ 1.png');
                            margin-right: 4px;
                            width : 8px;
                            height : 8px;
                        }
                    }
                }
               }
            }
            .slider_dod{
                position: absolute;
                bottom:20px;
                left: 50%;
                z-index: 5555;
                margin : 0 auto;
                .slider{
                    padding: 0;
                    margin: 0;
                    width: 130px;
                    height: 32px;
                    @include d-flex(flex,flex-start,center);
                    li{
                        width: 32px;
                        height: 32px;
                        list-style: none;
                        border-radius: 50%;
                        @include d-flex(flex,center,center);
                        cursor: pointer;
                        &:first-child{
                            border: 1px solid #000;
                            a{
                                opacity: 1!important;
                            }
                        }
                        a{
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: #000;
                            opacity: 0.3;
                          
                        }
                    }
                }
            }
        }
    }
}