@import '_virable';

.main_footer_one{
    height : 576px;
    width : 100%;
    background-color: #e5e5e5;
    margin-top: -22px;
    position: relative;

    .main_footer_bottom{
        position : absolute;
        bottom: 0;
        left : 0;
        background-color: $kulrang !important;
        width: 100%;
        min-height: 400px;
        z-index: 5555555;
        display: block;
        color: #fff;

        .container{
            // padding : 0 55px !important;
            box-sizing: border-box;
            margin: 0 auto !important;
            // border: 1px solid #eee;
            .main_footer_nav{
                @include d-flex(flex,space-between,center);
                flex-wrap:  wrap;
                margin : 20px 0 ;

                .main_footer_back_img{
                    width: 400px;
                    height: 500px;
                    z-index: 999999999999;
                    margin-top: -200px;
                    img{
                        width: 100%;
                        transform : rotate(5deg)
                    }
                    
                }
                .main_footer_menu{
                    width: 720px;
                    h1{
                        font-size: 34px;
                        font-weight: 700;font-style: normal;
                        margin-top: 20px;
                        line-height: 47.6px;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        margin-bottom: 40px;
                        line-height: 22.4px;
                    }
                    img:last-child{
                        margin-left: 31px;
                    }
                    
                }

            }
        }
    }
}
.main_footer_two{
    background-color: #e5e5e5;
    padding-bottom: 80px;

        .menu_footer_nav{
            @include d-flex(flex,space-between,center);
            flex-wrap: wrap;
            max-width : 1280px;
            margin : 0 auto;
            background-color: #fff;
            
                .img{
                    padding : 0;
                    margin: 0;
                    width: 605px;
                    height: 370px;
                    img{
                        width: 605px;
                        height: 370px;
                        margin-left: -25px;
                    }
                }
                .menu_nav_text{
                    width: 558px;
                    margin-right: 115px;
                    h1{
                        font-weight: 700;
                        font-size: 34px;
                        line-height: 47.4px;
                    }
                    p{
                        font-weight: 400;
                        font-style: 14px;
                        line-height: 22.4px;
                        margin : 24px 0;
                    }
                    .card_btn{
                        text-align: center;
                                background-color:$yellow;
                                font-weight: 600;
                                font-size: 14px;
                                margin : 8px 0;
                                padding: $padding_btn;
                                border-radius: 2 * $border-radius;
                                display: inline-block;
                                cursor: pointer;
                    }
                }
            
        }
    .main_text_menu{
        margin-top: 48px;;
        background : $yellow;
        @include d-flex(flex,center,center);
        color: #000;
        height: 370px;
        h1{
            width:666px;
            margin: 0 auto;
            text-align: center;
            font-size: 34px;
            font-weight: 700;
            line-height: 47.6px;
            font-style: normal;
            span{
                font-style: normal;
                font-size: 60px;
                line-height: 84px;
                font-weight: 700;
            }
        }
    }
}
