@import '_virable';
.two_main{
    padding-bottom: 50px !important;
}
.main_two{
    background-color: #e5e5e5;
    margin-bottom: 0;
    .container{
        max-width:1240px;
        margin: 0 auto !important;
        padding:20px;
        .main_two_header{
            padding: 88px 0 24px 0;
            h1{
                text-align: center;
                padding: 0;
                margin: 0;
            }
        }
        .main_two_box{
            @include d-flex(flex,space-between,center);
            flex-wrap: wrap;
            .box{
                border-radius:3 * $border-radius;
                width: 294px;
                height: 145px;
                text-align: center;
                background-color: #fff;
                &:nth-child(2){
                    margin : 20px;
                }
                img{
                    margin-top: 26px;
                    width:24px;
                    height: 24px;
                }
                p{
                    margin-top: 45px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .main_two_cards{
            @include d-flex(flex,space-between,center);
            flex-wrap: wrap;

            .card{
                width:264px; 
                border-radius:14px 14px;
                box-shadow: 0px 0px 98px rgba(0, 0, 0, 0.05);
                background-color: #fff;
                
                .card_img{
                    width:100% !important;
                    border-radius: 14px 14px 0 0;
                    img{
                        width: 100%;
                        border-radius: 14px 14px 0 0;
                    }
                }
                .card_body{
                    width:100%;
                    border-radius: 0 0 12px 12px;
                    padding: 0 12px 0 13px;

                    h5{
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    p{
                        margin : 8px 0 4px 0;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .line_star{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span{
                            font-weight: 600;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                        }
                        p{
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 10px;
                        }
                    }
                    .card_btn{
                        text-align: center;
                        background-color:$yellow;
                        font-weight: 600;
                        font-size: 14px;
                        margin : 8px 0;
                        padding: $padding_btn;
                        border-radius: 2 * $border-radius;
                        cursor: pointer;
                    }
                }
            }
        }
      

        .finally{
            margin-top: -24px;
            h1{
                margin: 0;
                padding: 0;
            }
        }
        .main_two_cards_{
            @include d-flex(flex,space-between,center);
            flex-wrap: wrap;
           
            
            .card_img_{
                // width : 100%;
                margin: 20px 10px;
                position: relative;
                text-align: center;
                cursor: pointer;
                width : 270px;
                img{
                    width :100%;
                }
                &::after{
                    content:"Женская обувь";
                    position: absolute;
                    bottom:10px;
                    left:0;
                    @include d-flex(flex,center,center);
                    text-align: center;
                    margin: auto;
                    width:100%;
                    height:78px;
                    background : $dark;
                    color : $yellow;
                    border-radius : 0 0 8px 8px;
                    font-weight: 700;
                    font-size: 24px;
                    transition: .5s all linear;                    
                    transform : translateY(10px);
                    opacity: 0;
                }
                &:hover::after{
                    transform : translateY(0);
                    opacity: 1;
                    transition: .5s all linear;                
                }
               
                &:first-child::after{
                    transform : translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}