* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none !important;
    user-select: none !important;
}

body {
    padding: 0;
    margin: 0;
}


@import '_virable';
@import 'navbar';
@import 'responsive_navbar';
@import 'section';
@import 'responsive_section';
@import 'section_2';
@import 'section2_respon';
@import 'section_footer1';
@import 'section_footer1_res';
@import 'footer';